.body{
	font-family: fangsong; 
	background-color: #C1F4FA; 
}	
.card {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 55rem;

    transform: translate(-50%, -50%);
}
.card-body{
background-color:#e3efff;
}
.card-text{
	background-color:#e3efff;
}
.sectionText{
	margin: 2rem;
}