<!DOCTYPE html>
<html
	xmlns:th="http://thymealeaf.org"
	xmlns:sec="http://thymealeaf.org/thymeleaf-extras-springsecurity5">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="p-2 m-2">
		
		<ul class="nav align-middle">
		  <li class="nav-item">
		    <a class="nav-link active" aria-current="page" href="#">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/employees">Funcionários</a>
		  </li>
  		  <li class="nav-item">
		    <a class="nav-link" href="/permissions">Permissões</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/patients">Pacientes</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/offices">Departamentos</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/roles">Funções</a>
		  </li>
  		  <li class="nav-item">
		    <a class="nav-link" href="/logout">Deslogar</a>
		  </li>
		</ul>
	
	</div>
	
	<section class="card">
		<div class="home-info" style=" aling-itemns:center; margin: 1rem">
			<h2>Bem Vindo!</h2>
			<h3 th:text="${#authentication.getPrincipal().getName()}"></h3>
		</div>
	</section>
	
	
</body>
</html>