<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head th:include="_template :: head">
	<meta charset="UTF-8"></head>
	<body>
		<h1>Air-Plus</h1>
		<div class="card">
			<section style="margin: 2rem">
				<p>Sistema para monitoramento de pacientes e controle de componentes Hospitalares</p>
			</section>
			<div class="row">
				<a class="col-2 btn btn-info"href="/login">Entre no sistema</a>
				<a style="margin-left: 1em" class="col-2 btn btn-primary"href="/employee/new">Criar uma Conta</a>
			</div>
					
		</div>
		
	</body>
</html>