<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head">
<meta charset="UTF-8"></head>
<body>
	<div class="menu">
		<div class="p-2 ">
			<a class="nav-link active" aria-current="page" href="/home"><i class="bi bi-arrow-left-circle-fill"></i></a>
		</div>
	</div>
	<div class="row">
		<h3 style="color: #5e00a6; font-family: fantasy; padding-left: 23em; margin-top: 1em;">Lista de Departamentos</h3>
		<a sec:authorize="hasRole('ROLE_ADMIN')" style="margin-left: auto; margin-right: 2em;" class="col-2 btn btn-primary" type="button"  href="/office/new">Novo Departamento</a>
	</div>
	
	<span th:text="${message}"></span>
	<div class="align-justify-center p-5 m-5" >
		<table class="table table-bordered shadow p-3 mb-5 bg-body rounded rounded-3">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Nome</th>
		      <th scope="col">Descrição</th>
		      <th scope="col">Opções</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:if="${office.is_active == true}" th:each="office : ${offices}">
		      <th th:text="${office.id}"></th>
		      <td th:text="${office.name}"></td>
		      <td th:text="${office.description}"></td>
		      <td><!-- <a class="btn btn-secondary p-1 m-1" th:href="${'/office/edit/'+office.id}" type="button">Editar</a> --><a class="btn btn-danger p-1 m-1" th:href="${'/office/delete/'+office.id}" type="button">Desativar</a></td>
		    </tr>
		  </tbody>
		</table>
	</div>

</body>
</html>