<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">

<meta charset="UTF-8">
</head>
<body>
	<div class="card">
		<div class="card-header">
			<div class="p-2 ">
				<a class="nav-link active" aria-current="page" href="/patients"><i
					class="bi bi-arrow-left-circle-fill"></i></a>
			</div>
		</div>
		<div class="card-body text-center bg-light">
			<h5 class="card-title">Relatório e Especificações do Paciente</h5>
			<div class="row">
				<div class="col-sm-6 border-success" style="margin-top: 2em;">
					<div class="card">
						<div class="card-header">
							<div style="display: flex; align-items: center;">
								<h4>Informações Gerais</h4>
							</div>
						</div>
						<div class="card-body">
							<table
								class="table table-bordered shadow p-3 mb-5 bg-body rounded rounded-3">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Nome</th>
										<th scope="col">Data de Nascimento</th>
										<th scope="col">Gênero</th>
										<th scope="col">Patologia</th>
										<th scope="col" th:if="${patientAnalyzer.employee != null}">Médico</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th th:text="${patientAnalyzer.id}"></th>
										<td th:text="${patientAnalyzer.name}"></td>
										<td th:text="${patientAnalyzer.birthdate}"></td>
										<td th:text="${patientAnalyzer.sex}"></td>
										<td>Covid-19</td>
										<td th:if="${patientAnalyzer.employee != null}"
											th:text="${patientAnalyzer.employee.getName()}"></td>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-sm-6 border-success" style="margin-top: 2em;">
					<div class="card">
						<div class="card-header">
							<div style="display: flex; align-items: center;">
								<h4>Comentários</h4>
								<!-- <a style="margin-left: auto;" href="/note/new" type="button"
									class="col-5 btn btn-primary">Adicionar Comentário</a> -->
							</div>
						</div>
						<div class="card-body">
							<table
								class="table table-bordered shadow p-3 mb-5 bg-body rounded rounded-3  ">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Nota</th>
										<th scope="col">Autor</th>
										<th scope="col">Data de Postagem</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${patientAnalyzer.note != null}">
										<th th:text="${patientAnalyzer.note.getId()}"></th>
										<td th:text="${patientAnalyzer.note.getDescription()}"></td>
										<td th:text="${patientAnalyzer.note.employee.getName()}"></td>
										<td th:text="${patientAnalyzer.note.getDate()}"></td>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div sec:authorize="hasRole('ROLE_DOCTOR')"
					class="col-sm-12 border-success" style="margin-top: 2em;">
					<div class="card">
						<div class="card-body">
							<div class="alert alert-danger d-flex align-items-center"
								role="alert">
								
								<div class="row"style="align-self: center;"><i class="bi bi-exclamation-triangle"></i><h5>Área Médica</h5>
								<p class="card-text">Área destinada a prestações de
								especialistas no tratamento do paciente.</p>
								<p>Aqui ficam os controles dos equipamenos médicos que são
								vitais para o tratamento deste paciente</p>
								
								</div>
								
							</div>
							<div>
								<label for="customRange3" class="form-label">Velocidade Respirador</label>
								<input type="range" class="form-range" min="0" max="3" step="1" id="customRange3">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer text-muted"> </div>
	</div>
</body>
</html>