<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head"></head>
<body>
	<div class="menu">
		<div class="p-2 ">
			<a class="nav-link active" aria-current="page" href="/home"><i class="bi bi-arrow-left-circle-fill"></i></a>
		</div>
	</div>
	<a class="btn btn-primary" type="button" href="/patient/new">Novo Paciente</a>
	<div class="align-justify-center p-5 m-5" >
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Nome</th>
		      <th scope="col">Data de Aniversário</th>
		      <th scope="col">Genero</th>
		      <th scope="col">Opções</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="patient : ${patients}">
		      <th th:text="${patient.id}"></th>
		      <td th:text="${patient.name}"></td>
		      <td th:text="${patient.birthdate}"></td>
		      <td th:text="${patient.sex}"></td>
		      <td><a class="btn btn-secondary p-1 m-1" type="button">Editar</a><a class="btn btn-info p-1 m-1"  th:href="${'/patient/analyzer/'+patient.id}" type="button">Ver mais</a><a class="btn btn-danger p-1 m-1" th:href="${'/patient/delete/'+patient.id}" type="button">Excluir</a></td>
		    </tr>
		  </tbody>
		</table>
	</div>
</body>
</html>