<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head">
<meta charset="UTF-8"></head>
<body>
<div class="card">
  <div class="card-header">
    Atualiza Permissão
  </div>
  <div class="card-body">
    <div th:object="${roles}">
		<form class="row g-3 needs-validation" th:action="${'/role/edit/'+id}" method="post" >
	  <div class="col-md-4">
	    <label class="form-label">Nome</label>
	    <input type="text" th:value="${name}" class="form-control">
	  </div>
	  <div class="col-md-4">
	    <label for="validationCustomDescription" class="form-label">Descrição</label>
	    <input type="text" class="form-control" th:value="${description}" >
	  </div>
 	  <div class="col-md-2">
	    <label class="form-label">Permissão ativa?</label>
	    <!-- <select class="form-control" th:field="*{isActive}" >
	      <option th:value="1" th:text="Verdadeiro"></option>
	      <option th:value="0" th:text="falso"></option>
	    </select> -->
	  </div>
	  <a href="/permissions">Cancelar</a>
	  <div class="col-12">
	  	<button class="btn btn-primary" type="submit">Salvar</button>
	  </div>
	</form>
	</div>
  </div>
</div>
	
</body>
</html>