<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head">
<meta charset="UTF-8"></head>
<body>
<div class="card">
  <div class="card-header">
    Nova Permissão
  </div>
  <div class="card-body">
    <form class="row g-3 needs-validation" th:action="@{/permissions}" method="post" th:object="${permission}" novalidate>
	  <div class="col-md-4">
	    <label class="form-label">Nome</label>
	    <input type="text" th:field="*{name}" class="form-control">
	  </div>
	  <div class="col-md-4">
	    <label for="validationCustomDescription" class="form-label">Descrição</label>
	    <input type="text" class="form-control" th:field="*{description}" >
	  </div>
 	  <div class="col-md-2">
	    <label class="form-label">Permissão ativa?</label>
	    <select class="form-control" th:field="*{is_active}" >
	      <option th:value="1" th:text="Falso"></option>
	      <option th:value="0" th:text="Verdadeiro"></option>
	    </select>
	  </div>
	  <div class="col-12">
	    <button class="btn btn-primary" type="submit">Cadastrar</button>
	  </div>
	</form>
  </div>
</div>
	
</body>
</html>