<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head">
<meta charset="UTF-8"></head>
<body>
	<div class="menu">
		<div class="p-2 ">
			<a class="nav-link active" aria-current="page" href="/home"><i class="bi bi-arrow-left-circle-fill"></i></a>
		</div>
	</div>
	<div class="row">
		<h3 style="color: #5e00a6; font-family: fantasy; padding-left: 23em; margin-top: 1em;">Lista de Funções</h3>
		<a style="margin-left: auto; margin-right: 2em;" class="col-2 btn btn-primary" type="button"  href="/role/new">Nova Função</a>
	</div>
	<div class="align-justify-center p-5 m-5" >
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Nome</th>
		      <th scope="col">Descrição</th>
		      <th scope="col">###</th>
		      <th scope="col">Opções</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="role: ${roles}">
		      <th th:text="${role.id}"></th>
		      <td th:text="${role.name}"></td>
		      <td th:text="${role.description}"></td>
		      <td></td>
		      <td><a class="btn btn-secondary p-1 m-1" th:href="${'/role/edit/'+role.id}" type="button">Editar</a><a class="btn btn-danger p-1 m-1" th:href="${'/role/delete/'+role.id}" type="button">Excluir</a></td>
		    </tr>
		  </tbody>
		</table>
	</div>

</body>
</html>